body {
  background-color: pink;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://www.shutterstock.com/image-vector/cherry-blossom-spring-garden-flower-600nw-1573921315.jpg");
  background-size: px;
  border-radius: 40px;
  border: 1px solid rgb(255,245,227);
  text-align: center
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}
#title {font-family: cursive;}

